@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
}

i {
  cursor: pointer;
}

li:hover {
  background-color: blue;
}

@media (min-width: 992px) {
  .desktop-menu {
    display: block !important;
  }
  .desktop-menu-content {
    display: block !important;
  }

  .burger-menu {
    display: none;
  }
  .burger-menu-content {
    display: none !important;
  }
}
